#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.note {
  height: 3rem;
}

.notesContainer {
  width: 18rem;
}

.form-control {
  overflow: auto;
  resize: none;
}
.notesContainer {
  width: 19.5rem;
  scrollbar-gutter: thin;
  height: 15rem;
  overflow-y: auto;
}

body {
  background-color: black !important;
  margin: 0;
  padding: 0;
  height: 100%;
}

.mainView {
  width: 100vh;
  height: 55vh;
  max-width: none;
}

* {
  color: rgb(255, 0, 0);
  background-color: rgb(27, 27, 97);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
